{% load static %}
<header class="tech-header header">
    <div class="container-fluid">
        <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href=""><img src="{% static 'logo/tech-logo.png' %}" alt=""></a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item dropdown has-submenu menu-large hidden-md-down hidden-sm-down hidden-xs-down">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">News</a>
                        <ul class="dropdown-menu megamenu" aria-labelledby="dropdown01">
                            <li>
                                <div class="container">
                                    <div class="mega-menu-content clearfix">
                                        <div class="tab">
                                            {% for category in categoryData %}
                                                <button class="tablinks active"
                                                        onclick="openCategory(event, {{ category.id }})">
                                                    {{ category.cat_name }}
                                                </button>
                                            {% endfor %}
                                        </div>

                                        <div class="tab-details clearfix">
                                            {% for category in categoryData %}
                                                {% if category.id == 1 %}
                                                    <div id="{{ category.id }}" class="tabcontent active">
                                                        <div class="row">
                                                            {% for news in category.news_set.all %}
                                                                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="blog-box">
                                                                        <div class="post-media">
                                                                            <a href="tech-single.html" title="">
                                                                                <img src="{{ news.image.url }}" alt=""
                                                                                     class="img-fluid">
                                                                                <div class="hovereffect">
                                                                                </div><!-- end hover -->
                                                                                <span class="menucat">{{ category.cat_name }}</span>
                                                                            </a>
                                                                        </div><!-- end media -->
                                                                        <div class="blog-meta">
                                                                            <h4><a href="tech-single.html" title="">
                                                                                {{ news.description }}
                                                                            </a></h4>
                                                                        </div><!-- end meta -->
                                                                    </div><!-- end blog-box -->
                                                                </div>
                                                            {% endfor %}

                                                        </div><!-- end row -->
                                                    </div>

                                                {% else %}
                                                    <div id="{{ category.id }}" class="tabcontent">
                                                        <div class="row">
                                                            {% for news in category.news_set.all %}
                                                                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="blog-box">
                                                                        <div class="post-media">
                                                                            <a href="tech-single.html" title="">
                                                                                <img src="{{ news.image.url }}" alt=""
                                                                                     class="img-fluid">
                                                                                <div class="hovereffect">
                                                                                </div><!-- end hover -->
                                                                                <span class="menucat">categoy</span>
                                                                            </a>
                                                                        </div><!-- end media -->
                                                                        <div class="blog-meta">
                                                                            <h4><a href="tech-single.html" title="">
                                                                                {{ news.description }}
                                                                            </a></h4>
                                                                        </div><!-- end meta -->
                                                                    </div><!-- end blog-box -->
                                                                </div>
                                                            {% endfor %}

                                                        </div><!-- end row -->
                                                    </div>
                                                {% endif %}
                                            {% endfor %}

                                        </div><!-- end tab-details -->
                                    </div><!-- end mega-menu-content -->
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="tech-category-01.html">Gadgets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="tech-category-02.html">Videos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="tech-category-03.html">Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="tech-contact.html">Contact Us</a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-2">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-rss"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-android"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-apple"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div><!-- end container-fluid -->
</header><!-- end market-header -->
